lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

client/css

server/**/*.js
server/app.coffee
!server/app.coffee.sample
env.coffee
!env.coffee.sample

npm-debug.log
node_modules
third-party

build
dist
live

.DS_Store
