
// Variables
// ----------------------


// Colors
// ----------------------


// Applied

$background:                black;
$page-background:           red;

$body-text-color:           white;
$link-text-color:           blue;

// Dimensions
// ----------------------

$breakpoint:                400px;

$base-margin:               15px;
