
// Global
// -----------------

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
}

body {
  @include body-font();
  color: $body-text-color;
}

.page {
}

a {
  color: $link-text-color;
  text-decoration: none;
  
  &:focus,
  &:hover {
    color: $link-text-color;
    text-decoration: underline;
  }
}
